*.zip
!lab/lab02/data/namesbystate.zip
!hw/hw02/data.zip
hw/hw02/data
lab/lab03/data
hw/hw04/data
!proj/proj1a/cook_county_data.zip
!proj/proj1b/cook_county_data.zip
!proj/proj2a/spam_ham_data.zip
!proj/proj2b/spam_ham_data.zip
proj/proj1a/*.csv
.OTTER_LOG
**/__pycache__/
*.aux
*.log
*.synctex.gz
proj/proj1b/*.csv